---
import { metadata } from '@/config'

export interface Props {
  meta: {
    title?: string
    description?: string
  }
}

const props = Astro.props as Props
const meta = props.meta || {}
const title = meta.title || ''
const description = meta.description || metadata.description

const titleSeparator = '|'
const siteTitle = title ? `${title} ${titleSeparator} ${metadata.author}` : metadata.author
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- General Meta Tags -->
<title>{siteTitle}</title>
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />
<meta name="author" content={metadata.author} />
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap-index.xml" />

<!-- Chrome -->
<meta name="google" content="notranslate" />

<!-- Favicons -->
<link rel="icon" href="/favicon/favicon.ico" sizes="any" />
<link rel="icon" href="/favicon/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-180x180.png" />
<link rel="manifest" href="/manifest.webmanifest" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={siteTitle} />
<meta property="twitter:description" content={description} />

<!-- Theme -->
<meta name="theme-color" content="hsl(var(--background-site-body))" />
