---
import { getCollection } from 'astro:content'
import DefaultLayout from '@/components/layouts/default.astro'
import Footer from '@/components/layouts/footer/footer.astro'
import ButtonLink from '@/components/shared/button/link.astro'
import Logo from '@/components/shared/logo/logo.astro'
import { social } from '@/config'

const writingCollection = await getCollection(
  'writing',
  ({ data }) => !data.draft && data.date < new Date()
)

const sortedWriting = writingCollection.sort((contentA, contentB) => {
  const oneSecond = 1000
  return (
    Math.floor(new Date(contentB.data.date).getTime() / oneSecond) -
    Math.floor(new Date(contentA.data.date).getTime() / oneSecond)
  )
})

const numberOfLatestWriting = Infinity

const latestWriting = sortedWriting.slice(0, numberOfLatestWriting)
---

<DefaultLayout>
  <div class="py-12 md:py-24 px-6">
    <main class="mx-auto max-w-2xl">
      <article class="flex flex-col gap-y-16">
        <section>
          <div class="flex gap-5">
            <div class="flex items-center text-color-site-stress">
              <Logo />
            </div>
            <div>
              <h1 class="text-color-site-stress">Faiq Naufal</h1>
              <p class="text-color-site-subtle text-sm md:text-base">Software Engineer Front End</p>
            </div>
          </div>
        </section>

        <section class="flex flex-col gap-y-4 leading-6 md:leading-7 text-sm md:text-base">
          <h2
            class="uppercase font-semibold text-xs md:text-sm text-color-site-stress tracking-wide"
          >
            Me in 10 seconds
          </h2>
          <p>
            I'm a software engineer driven by the curiosity of learning the art of programming and
            design. Currently, I'm working at <a
              href="https://asumsi.co"
              target="_blank"
              rel="noopener noreferrer">Asumsi.co</a
            >
             focusing on building a product called <a
              href="https://inlive.app"
              target="_blank"
              rel="noopener noreferrer">inLive</a
            > to help users and developers on building their own affordable live streaming platform.
          </p>
          <p>
            I really passionate and obsessed in building stuff on the internet. I also love solving
            problem and creating meaningful digital experience using web technologies.
          </p>
          <div>
            <ButtonLink
              href="/about"
              className="inline-block py-1.5 md:py-2 px-4 text-center text-color-site-emphasis hover:text-color-site-stress font-medium tracking-wide bg-background-site-rectangle rounded-lg text-sm border-[0.25px] border-background-site-rectangle hover:border-color-site-subtle transition-all"
            >
              <div slot="children" class="flex items-center gap-1">
                <span>Tell me more</span>
                <span class="i-solar:alt-arrow-right-line-duotone block text-base"></span>
              </div>
            </ButtonLink>
          </div>
        </section>

        {
          latestWriting.length && (
            <section class="flex flex-col gap-y-4 text-color-site-normal">
              <h2 class="uppercase font-semibold text-xs md:text-sm text-color-site-stress tracking-wide">
                Writing
              </h2>
              <ul class="flex flex-col group/inactive -mt-2.5">
                {latestWriting.map(async (writing) => {
                  const { data, slug, render } = writing
                  const { remarkPluginFrontmatter } = await render()
                  const { minutesRead } = remarkPluginFrontmatter || {}
                  const { date, title } = data

                  const [minute, timeUnit] = minutesRead?.text ? minutesRead.text.split(' ') : []

                  const DDMMYYYY = date.toLocaleDateString('en-GB', {
                    timeZone: 'Asia/Jakarta',
                  })

                  const humanDate = date.toLocaleDateString('en-US', {
                    timeZone: 'Asia/Jakarta',
                    month: 'short',
                    day: '2-digit',
                  })

                  return (
                    <li class="group/active">
                      <a
                        href={`/writing/${slug}`}
                        class="py-2.5 flex flex-col md:flex-row md:justify-between gap-0.5 md:gap-3"
                      >
                        <div class="flex flex-row justify-between items-center gap-3 md:gap-10">
                          <p class="md:order-2 text-sm md:text-base flex-1 text-color-site-normal group-hover/inactive:opacity-40 group-hover/active:!opacity-100 group-hover/active:text-color-site-stress transition-opacity duration-150">
                            {title}
                          </p>
                          <time
                            datetime={DDMMYYYY}
                            class="md:order-1 text-xs md:text-sm leading-5 md:leading-6 w-14 group-hover/inactive:opacity-40 group-hover/active:!opacity-100 group-hover/active:text-color-site-stress transition-opacity duration-150"
                          >
                            {humanDate}
                          </time>
                        </div>
                        <div class="text-xs md:text-sm leading-5 md:leading-6 group-hover/inactive:opacity-40 group-hover/active:!opacity-100 group-hover/active:text-color-site-stress transition-opacity duration-150">
                          <time datetime={`PT${minute}${timeUnit[0].toUpperCase()}`}>
                            {minute}&nbsp;{timeUnit}
                          </time>
                          <span class="md:hidden">read</span>
                        </div>
                      </a>
                    </li>
                  )
                })}
              </ul>
            </section>
          )
        }

        <section class="flex flex-col gap-y-4 text-color-site-normal">
          <h2
            class="uppercase font-semibold text-xs md:text-sm text-color-site-stress tracking-wide"
          >
            Connect
          </h2>
          <ul class="grid grid-cols-1 sm:grid-cols-2 -ml-3 md:-ml-4 md:gap-1 -mt-2">
            <li>
              <ButtonLink
                href={social.linkedin.url}
                className="block p-3 md:p-4 group hover:bg-background-site-rectangle rounded-md transition"
                external={true}
              >
                <div slot="children" class="flex items-center justify-between text-sm md:text-base">
                  <div>
                    <div class="text-color-site-subtle text-xs md:text-sm">
                      {social.linkedin.label} &mdash;
                    </div>
                    <div class="text-color-site-normal group-hover:text-color-site-stress">
                      {social.linkedin.username}
                    </div>
                  </div>
                  <div
                    class="flex items-center opacity-0 group-hover:opacity-100 i-carbon:arrow-up-right transition text-color-site-stress"
                  >
                  </div>
                </div>
              </ButtonLink>
            </li>
            <li>
              <ButtonLink
                href={social.github.url}
                className="block p-3 md:p-4 group hover:bg-background-site-rectangle rounded-md transition"
                external={true}
              >
                <div slot="children" class="flex items-center justify-between text-sm md:text-base">
                  <div>
                    <div class="text-color-site-subtle text-xs md:text-sm">
                      {social.github.label} &mdash;
                    </div>
                    <div class="text-color-site-normal group-hover:text-color-site-stress">
                      {social.github.username}
                    </div>
                  </div>
                  <div
                    class="flex items-center opacity-0 group-hover:opacity-100 i-carbon:arrow-up-right transition text-color-site-stress"
                  >
                  </div>
                </div>
              </ButtonLink>
            </li>
            <li>
              <ButtonLink
                href={`mailto:${social.email.url}`}
                className="block p-3 md:p-4 group hover:bg-background-site-rectangle rounded-md transition"
                external={true}
              >
                <div slot="children" class="flex items-center justify-between text-sm md:text-base">
                  <div>
                    <div class="text-color-site-subtle text-xs md:text-sm">
                      {social.email.label} &mdash;
                    </div>
                    <div class="text-color-site-normal group-hover:text-color-site-stress">
                      {social.email.username}
                    </div>
                  </div>
                  <div
                    class="flex items-center opacity-0 group-hover:opacity-100 i-carbon:arrow-up-right transition text-color-site-stress"
                  >
                  </div>
                </div>
              </ButtonLink>
            </li>
            <li>
              <ButtonLink
                href={social.producthunt.url}
                className="block p-3 md:p-4 group hover:bg-background-site-rectangle rounded-md transition"
                external={true}
              >
                <div slot="children" class="flex items-center justify-between text-sm md:text-base">
                  <div>
                    <div class="text-color-site-subtle text-xs md:text-sm">
                      {social.producthunt.label} &mdash;
                    </div>
                    <div class="text-color-site-normal group-hover:text-color-site-stress">
                      {social.producthunt.username}
                    </div>
                  </div>
                  <div
                    class="flex items-center opacity-0 group-hover:opacity-100 i-carbon:arrow-up-right transition text-color-site-stress"
                  >
                  </div>
                </div>
              </ButtonLink>
            </li>
          </ul>
        </section>
      </article>
    </main>
    <Footer />
  </div>
</DefaultLayout>
